@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
}

.page {
  max-width: 1280px;
  background-color: #202020;
  margin: 0 auto;
}
